.top_six_cards {
    box-shadow: rgba(16, 16, 16, 0.5) 0px 10px 20px, rgba(80, 80, 80, 0.23) 0px 6px 6px;
    min-height: 380px;
    border-radius: 10px;
    padding: 20px !important;
    /* background-color: gray; */
    transition: 0.5s ease-in-out;
}

.top_six_cards:hover {
    background-color: var(--blue);
}

.top_six_cards_footer_button_cover {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.top_six_cards_footer_button_cover_child {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

.top_six_cards_footer_button_cover_child:hover {
    background-color: rgba(214, 214, 214, 0.3);
    color: var(--primary);

}

@media (max-width:768px) {
    .top_six_cards_footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
    }

    .top_six_cards_footer_button_cover {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 5px;
    }

    .top_six_cards_footer_button_cover_child {
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.6s ease-in-out;
    }
}

.fund_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.cardimg {
    filter: blur(2px);

}

.fund_section_child {
    background-color: #265f80b9;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: rgba(35, 70, 157, 0.5) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    min-height: 85vh;

}

.Cards_Head {
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s ease-in-out;
    min-height: 150px;
}

.Cards_Head:hover {
    background-color: var(--primary);
}

.moolah_capital_strategies_cover {
    margin: 30px;
}

@media (max-width:768px) {
    .moolah_capital_strategies_cover {
        margin: 15px;
    }
}

.cardServicesList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 13px;
    background-color: var(--blue);
    color: white;
    transition: 1s ease-in-out;
    border-radius: 10px;
    min-height: 350px;
    margin-bottom: 100px;
}

.cardServicesList:hover {
    background-color: var(--primary);
    border: 1px solid var(--blue);
}

.cardServicesList_icons {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.bottom_image {
    width: 100%;
}